{% extends "authapp/base.html" %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'css/registration_and_login_style.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container">
        <h1>Sign Up Today!</h1>
        <form id="form" method="post" action="{% url 'auth:register' %}">
            {% csrf_token %}
            <!-- Full name -->
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Full name</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="{{ form.phone.id_for_label }}">Your phone</label>
                {{ form.phone }}
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Your email</label>
                {{ form.email }}
            </div>

            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}>"> Your firstname </label>
                {{ form.first_name }}
            </div>
            <div class="form-group gender">
                <label for="{{ form.gender.id_for_label }}>"> Gender </label>
                {{ form.gender }}
            </div>
            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}>"> Your lastname </label>
                {{ form.last_name }}
            </div>
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}>"> Your password </label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}>"> Confirm password</label>
                {{ form.password2 }}
            </div>
            <div class="button-container">
                <button type="submit">Register</button>
                <button type="reset">Reset</button>
            </div>
        </form>
        <!-- Error/success message -->
        <div class="message-container">
            <h3 id="message">Don't Hesitate!</h3>
        </div>
    <a class="btn btn-link" href="{% url 'auth:login' %}">login</a>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/registration.js' %}"></script>
{% endblock %}