{% extends "mainpage/base.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
<body>
    <noscript>
      <strong>We're sorry but
          <%= htmlWebpackPlugin.options.title %>
          doesn't work properly without JavaScript enabled.
          Please enable it to continue.</strong>
    </noscript>
    <div id="app">

    </div>
    <footer class="text">
        Today is {% now "d-n-o" %} &copy; Jekku-battery. Week: {% now "W" %}
    </footer>
    {% render_bundle "app" %}
</body>
{% endblock %}
