{% extends "mainpage/base.html" %}
{% load render_bundle from webpack_loader %}

{% block content %}
<body>
    <noscript>
      <strong>We're sorry but
          <%= htmlWebpackPlugin.options.title %>
          doesn't work properly without JavaScript enabled.
          Please enable it to continue.</strong>
    </noscript>
    <div id="app">

    </div>
    <footer>
        <h4 class="text"><i class="fas fa-calendar-day"></i> {% now "d-n-o" %}
            <i class="fas fa-calendar-week"></i> {% now "W" %}</h4>
        <h3 class="text">Helsinki &copy; Jekku-battery. Dev </h3>
    </footer>
    {% render_bundle "app" %}
</body>
{% endblock %}
